
<label for="">Search:</label>
<input type="text" [(ngModel)]="term" (keyup)="filter()">
<label for="">Page:</label>
<select [(ngModel)]="page" (change)="pagenation()">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
</select>
<label for="">Column:</label>
<select [(ngModel)]="column" >
    <option>Vehicle</option>
    <option>manufacturer</option>
    <option>model</option>
    <option>type</option>
    <option>fuel</option>
    <option>color</option>
    <option>image</option>
    <option>cost</option>
    <option>id</option>
</select >
<label for="">Order:</label>
<select [(ngModel)]="order">
    <option value="asc">Ascending order</option>
    <option value="desc">Descending order</option>
</select>
<button (click)="sort()">Sort</button>
<br>
<table border="3" class="table table-bordered table-dark">
    <thead>
        <tr>
            <th  class="text-primary">Vehicle</th>
            <th  class="text-success">Manufacture</th>
            <th  class="text-success">Model</th>
            <th  class="text-success">Type</th>
            <th  class="text-success">Fuel</th>
            <th  class="text-success">Color</th>
            <th  class="text-success">Image</th>
            <th  class="text-success">Cost</th>
            <th  class="text-success">id</th>
            <th class="text-success">Actions</th>
        </tr>
    </thead>
    <tbody>  
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img src="{{vehicle.image}}" alt="image" width="80px" height="40px">
            </td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.id}}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(vehicle.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>