<div class="parent">
    <div class="child1">
        <div class="left">
            <input type="text">
            <button>Only free delivary</button>
            <br>
            <button (click)="pltoh()">Price low to high</button>
            <button (click)="phtol()">Price high to low</button>
            <button (click)="rltoh()">Rating low to high</button>
            <button (click)="rhtol()">Rating high to low</button>
            <br>
            <button (click)="adis()">Apply 50% discount</button>
            <button (click)="pwdc()">Price with  delivary charges</button>
            <br>
            <button (click)="tp()">Total price</button>
            <button (click)="tci()">Total cart items</button>
        </div>
        <div class="right">
            <div action="">
                <label for="">Product Name:</label>
                <input type="text" [(ngModel)]="productname">
                <br>
                <label for="">Price:</label>
                <input type="number"[(ngModel)]="price">
                <br>
                <label for="">Rating:</label>
                <input type="number"[(ngModel)]="rating">
                <br>
                <label for="Free Delivary:">Free Delivary:</label>
                <input type="radio" name="Free Delivary:" [(ngModel)]="isFreeDelivary"[value]=true id="">
                <label for="">Yes</label>
                <input type="radio" name="Free Delivary:"[(ngModel)]="isFreeDelivary"[value]=false id="">
                <label for="">No</label>
                <br>
                <button class="btn btn-success"  (click)="atc()">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="child2">
        <table border="3" class="table table-dark table-bordered">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Free Delivary</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{product.productname}}</td>
                    <td>{{product.price |balance}}</td>
                    <td>{{product.rating}}</td>
                    <td >{{product.freedelivary}}</td>
                    <td><button class="btn btn-danger" (click)="delete(i)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>