<div class="parent">
    <div class="child">
        <div class="left">
            <h2>Filters</h2>
            <h2>Category</h2>
            <input type="checkbox">
            <label for="">Men's Clothing</label>
            <br>
            <input type="checkbox">
            <label for="">Jewellery</label>
            <br>
            <input type="checkbox">
            <label for="">Women's Clothing</label>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Prices</h2>
            <br>
            <input type="checkbox">
            <label for="">RS.7 TO RS.50</label>
            <br>
            <input type="checkbox">
            <label for="">RS.50 TO RS.300</label>
            <br>
            <input type="checkbox">
            <label for="">RS.300 TO RS.600</label>
            <br>
            <input type="checkbox">
            <label for="">RS.600 TO RS.1000</label>
        </div>
        <div class="right">
            
        </div>
    </div>
</div>