<div class="parent">
    <div class="child">
        <button (click)="roll()">ROLL</button>
        <div class="c1">
            <img *ngIf="number==1" src="/assets/dice1.png" alt="">
            <img *ngIf="number==2" src="/assets/dice2.png" alt="">
            <img *ngIf="number==3" src="/assets/dice3.png" alt="">
            <img *ngIf="number==4" src="/assets/dice4.png" alt="">
            <img *ngIf="number==5" src="/assets/dice5.png" alt="">
            <img *ngIf="number==6" src="/assets/dice6.png" alt="">
        </div>
    </div>
</div>