<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <br>
        <hr>
        <h3 routerLink="welcome">Welcome</h3>
        <br>
        <h3 routerLink="home">Home</h3>
        <br>
        <h3 routerLink="databinding">Data Binding</h3>
        <br>
        <h3 routerLink="calculator">calculator</h3>
        <br>
        <h3 routerLink="rectangle">Rectangle</h3>
        <br>
        <h3 routerLink="circle">Circle</h3>
        <br>
        <h3 routerLink="bmi">BMI</h3>
        <br>
        <h3 routerLink="directives">Directives</h3>
        <br>
        <button routerLink="/login"><b>Logout</b></button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>