.parent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    height: auto;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
}
button{
    color: chocolate;
    background-color: aqua;
    margin-top: 5px;
}
button:hover{
    cursor: pointer;
    background-color: greenyellow;
}
input{
    margin-top: 5px;
}
table{
    margin-left: 165px;

}
