<div class="parent">

    <div class="child">

        <h1>Student Registration</h1>
        <label for="">Name:</label>
        <input type="text"[(ngModel)]="name">
        <br>
        <label for="">Marks:</label>
        <input type="number"[(ngModel)]="marks">
        <br>
        <label for="">Fee</label>
        <input type="number" [(ngModel)]="fee">
        <br>
        <button (click)="register()">Register</button>
        <br>
        <button (click)="pfee()">P.fee</button>
        <button (click)="low()">lowtohigh</button>
        <button (click)="high()">hightolow</button>
        <button (click)="sal()">sal</button>

        <h3>All Students</h3>
        <br>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Marks</th>
                    <th>Fee</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students; let i=index">
                    <td>{{student.Name}}</td>
                    <td>{{student.Marks}}</td>
                    <td>{{student.Fee|balance}}</td>
                    <td><button (click)="delete(i)">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>